@using Models;

<table class="table table-striped">
    @foreach (var row in DateTime.UtcNow.GetDecadeMonths().GroupBy(pair => pair.Year))
    {
        <tr>
        @foreach (var (year, month) in row)
        {
            if (month == 1)
            {
                <th>@year.Number</th>
            }
            <td>@($"{this.MonthNames[month]}")</td>
        }
    </tr>
    }
    
</table>

@code {
    [Parameter] public DateTime ForTimestamp { get; set; }

    string[] MonthNames = new[]
    {
        "", "JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"
    };
}